@charset "UTF-8";
h1{font: bold 20px verdana, sans-serif}
h2{font: bold 14px verdana, sans-serif}
header,section,footer,aside,nav,article,figure,figcaption,hgroup{display: block;}
body{text-align: center;}
#main_header{ width:400px; height:50px; margin: 0px auto;}
#main_aside{width : 150px; height : 480px; float: left; margin-left:100px;border: 3px solid black;}
#main_section{width: 100%; height : 600px;}
#main_table{width: 70%; height : 500px; border: 3px solid black;}
#add_member_btn{width:150px; height:30px;margin-left: 80%;}
table tr td{text-align: center; }
#member_td{border : solid black 3px; text-align: center; }
#admin_list{width:150px;height:100px;}
#create_table_btn{width:150px;height:100px;}
#create_table_btn1{width:150px;height:100px;}
#member_button1{width:300px;height:20px;}
#member_button2{width:100px;height:20px;}
table td{text-align: left;}
#table_id{width:400px; margin-left: 75px;}
#table_ssn{width:400px; margin-left: 55px;}
#table_phone{width:400px; margin-left: 20px;}
#table_email{width:400px; margin-left: 30px;}
#table_addr{width:400px; margin-left: 52px;}
table_name{width:100px;}






