@charset "UTF-8";
h1{font: bold 40px verdana, sans-serif}
h2{font: bold 14px verdana, sans-serif}
body{text-align: center;}
.column{width:10%;}
.member{widht:25%;}
#bitcamp_table2{widht:600px;height:100px;}
#bitcamp_table{width:500px; heigth:50px; margin : 0px auto;border-style:solid black;}